  #message {
  border-bottom: 1px solid;
    color: black;
  font-style: normal;
}
  #message:hover {
  border-bottom: 1px solid;
    color: black;
  font-style: normal;
  background:blue;
}
#sender { 


  margin-left: 55px;
}